<h1>Todo App Angular</h1>

<nav class="flex items-center justify-center bg-gray-800 p-4">
  <a routerLink="/login" class="text-white hover:text-gray-300 px-4 py-2 transition duration-300 ease-in-out focus:outline-none focus:ring focus:border-blue-300" routerLinkActive="active">Login</a>
  <span class="text-white">|</span>
  <a routerLink="/register" class="text-white hover:text-gray-300 px-4 py-2 transition duration-300 ease-in-out focus:outline-none focus:ring focus:border-blue-300" routerLinkActive="active">Register</a>
  <span class="text-white">|</span>
  <a routerLink="/todo" class="text-white hover:text-gray-300 px-4 py-2 transition duration-300 ease-in-out focus:outline-none focus:ring focus:border-blue-300" routerLinkActive="active">Todo</a>
</nav>

<router-outlet></router-outlet>
